<h1 class="literal">
    <span class="kind">[ {{doclet.tags[0].text}} {{doclet.type.names[0]}} <span ng-if="!doclet.jsConcept">module</span> ]</span>
  <span class="prefix" ng-if="doclet.$prefix">{{doclet.$prefix}}.</span
  ><span class="name">{{doclet.name}}</span>
</h1>  


<!--  Mike addon Template for modules   -->

<div ng-if='doclet.requires'>
    
    <p> <strong>Requires:</strong> </p>  <span ng-repeat='requires in doclet.requires'  ng-bind-html='require(requires)' class="requires" ></span>
    
</div>

<div ng-if="doclet.description" ><p><strong>Description:</strong></p> {{ doclet.description  | htmlToPlaintext }}  </div>

<div class='appDetails' ng-if='doclet.version || doclet.since || doclet.author[0]'>
	<p><strong>About:</strong></p>
 <!-- <p ng-if='doclet.author[0]'>Author : <span>&nbsp;{{doclet.author.join()}}</span> </p>-->

  <p ng-if='doclet.version'>Version : <span>{{doclet.version}}</span></p>
  <p ng-if='doclet.since'><span>{{doclet.since}}</span> </p>
</div>

<div ng-if="!doclet.jsConcept">  
  <h2> Assigned to: </h2>


      <div ng-if="doclet.tags[1].title === 'variablename' ">

          <h3 id="{{element.name}}" class="literal">

              <span class="kind">var </span>

              <span class="name">{{doclet.tags[1].text}}</span>

              <span ng-if="element.params || (element.kind == 'function') || (element.kind == 'class')">

              <span>(</span><span ng-repeat="param in element.params"><span ng-if="!$first">,&nbsp;</span><span class="param">{{param.name}}</span></span>)</span>

              <span class="types" ng-if="element.type.names">
                  <span class="type" ng-repeat="type in element.type.names" ng-bind-html="type|type"></span>
              </span>

             <span class="extra" ng-if="doclet.access == 'static'">static</span>
             <span class="extra public" ng-if="doclet.access == 'public'">public</span>


          </h3>


    </div>

</div>

<!-- END -->


<div ng-if="elements.function">
  <h2>Functions</h2>
  <div ng-include="'templates/content-element.html'" ng-repeat="element in elements.function"></div>
</div>

<div ng-if="elements.member">
  <h2>Members</h2>
  <div ng-include="'templates/content-element.html'" ng-repeat="element in elements.member"></div>
</div>

<div ng-if="elements.event">
  <h2>Events</h2>
  <div ng-include="'templates/content-element.html'" ng-repeat="element in elements.event"></div>
</div>

<div ng-if="doclet.examples">
  <h2>Examples</h2>
  <div ng-include="'templates/content-example.html'" ng-repeat="example in doclet.examples"></div>
</div>

